<%= form_with model:@notification ,local: true do |form| %>
  <table class="edit-table">
    <tr>
      <th>通知日</th>
      <th>通知時間</th>
    </tr>
    <tr class="cell">
      <td><%= form.date_field :date %></td>
      <td><%= form.time_field :time %></td>
      <td><%= form.submit "更新" %></td>
    </tr>
  </table>
<% end %>
