<table>
  <tr>
    <th>通知日一覧</th>
  </tr>
  <% @notifications.each do |notification| %>
    <tr>
      <td><%= notification.datetime %></td>
      <td><%= link_to "編集", "/notifications/#{notification.id}/edit", class: "btn edit" %></td>
      <td><%= link_to "削除", "/notifications/#{notification.id}", data: {turbo_method: :delete, turbo_confirm: '本当に削除しますか?'}, class: "btn delete" %></td>
    </tr>
  <% end %>
  <th><%= link_to "追加", "/notifications/new/#{@vehicle_id}", class: "btn edit" %></th>
</table>
