<% provide(:title, @user.name) %>
<div class="main">
  <%= link_to "新規作成", "/vehicles/new/#{@user.id}", class: "btn btn-primary" %>
  <%= link_to "テーブル一覧", "/vehicles/index/#{@user.id}", class: "btn btn-primary" %>
</div>