<div class="main">
  <%= link_to "CSVファイルをアップロード", "/vehicles/select_csv/#{@user.id}", class: "btn btn-primary" %>
  <%= link_to "テーブル一覧", "/vehicles/index/#{@user.id}", class: "btn btn-primary" %>
</div>