<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>CSVをインポートする</title>
  </head>
  <body>
  <%= form_with(url: "/vehicles/upload/#{current_user.id}", method: :post, class: 'form-center', local: true, html: { multipart: true }) do |form| %>
  <div class="main">
  <div>
    <%= form.file_field :csv, accept: '.csv,.xlsx,.xls' %>
  </div>
      <%= form.submit "アップロード", class: "form-btn" %>
    </div>
  <% end %>
  
  </body>
</html>