<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>CSVをインポートする</title>
  </head>
  <body>
  <%= form_with url: "/vehicles/upload/#{current_user.id}", method: :post, local: true, html: { multipart: true } do |form| %>
    <div>
      <label>CSVファイル</label>
      <div>
        <%= form.file_field :csv, accept: '.csv,.xlsx,.xls' %>
      </div>
    </div>
    <br>
    <div class="main">
      <%= form.submit "アップロード", class: "btn btn-primary import" %>
    </div>
  <% end %>
  
  </body>
</html>